# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Data (too large for git)
data/raw/
data/processed/
saved_models/*.pth
saved_models/*.pkl

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store

# Env
.env